* {
  margin, padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #caa739;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.booklist {
  display: flex;
  justify-content: center;
  width: 90vw;
  max-width: 1200px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

img {
  width: 100% ;
}
 
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  text-align: center;
  margin: auto;
  background-color: #EAE;
}

.book h1{
  margin-top: 0.5rem;
}

.author {
  color: #fff;
  letter-spacing: 1px;
}

@media screen and (max-width : 1000px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
}